
body {
  background-color: pink;   
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


.kieuchumoi {
  font-weight: 700;
  font-size: 20px;
  color: #e05b8f !important;
  background-color: rgba(192, 255, 195, 0.733);
  border: 2px solid green;
  border-radius: 7px;
  padding: 3px 8px;
}

.nav-link{
  font-weight: 500;
}

.nav-link:hover{
  color: #e05b8f !important;
}


h2{
  font-weight: 700;
  color: #e05b8f;
}


.kichthuocanh1{
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 6px;
}


.card{
  border: none;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  transition: .3s;
  border-radius: 10px;
}

.card:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.18);
}


.card-title{
  color: #ff6ca8;
  font-weight: 600;
}


footer{
  margin-top: 40px;
}

footer h6{
  font-weight: 700;
  color: #e05b8f;
}

footer a{
  text-decoration: none;
}

footer a:hover{
  color: #ff6ca8;
}

